In [188]:
import pandas as pd

In [200]:
df = pd.read_csv("spotify_millsongdata.csv")

In [201]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [202]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [203]:
df.shape

(57650, 4)

In [204]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [205]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [206]:
df.head(10)

,artist,song,text
0,Kanye West,Dark Fantasy,You might think you've peeped the scene \r\nY...
1,Kid Rock,What I Learned Out On The Road,Headin' for the south lands \r\nLookin' for s...
2,Def Leppard,Miss You In A Heartbeat,"I believe, that there's something deep inside ..."
3,Lionel Richie,Into You Deep,Hey you \r\nWhere are you going \r\nYou're n...
4,Joni Mitchell,Ladies Of The Canyon,Trina wears her wampum beads \r\nShe fills he...
5,Ace Of Base,Perfect World,They say the time has come for us \r\nTo star...
6,Aiza Seguerra,If,If a picture paints a thousand words \r\nThen...
7,Ne-Yo,So You Can Cry,So it's over \r\nHe's with someone else and y...
8,Chaka Khan,The Message In The Middle Of The Bottom,I never meant a single thing when you tried it...
9,Gordon Lightfoot,"Oh, Linda",Oh Linda you done me wrong \r\nI'm gonna sing...

In [207]:
df['text'][10]

"It feels like I'm walkin' on air  \r\nWhen we walk down our street  \r\nWhen the neighbors stop to watch us walk by  \r\nYou can hear 'em talking (let them talk)  \r\n  \r\nSometimes I think that you're the only reason  \r\nThe sun still shines (when it shines)  \r\nAnd when this wicked world starts bringing me down  \r\nI tell myself that I'm one lucky guy  \r\n  \r\n[Chorus]  \r\nI got the girl (with all the cards)  \r\nI got the girl (she's a work of art)  \r\nI got the girl (who's gonna break my heart)  \r\n  \r\nShe says that someday she's gonna marry me  \r\nWhen that day comes that we walk down the aisle  \r\nShe'll make me feel like a prince, a lord or a king  \r\nShe likes to wear her stripe with her plaids  \r\nAnd she won't brush her hair (I swear)  \r\nShe don't like wearing shoes in December  \r\nBut I don't care (I don't care)  \r\n  \r\n[Chorus]  \r\nI got the girl (with all the cards)  \r\nI got the girl (she's a work of art)  \r\nI got the girl (who's gonna break my heart)  \r\n  \r\nIf I was a holy man I'd get down on my knees  \r\nSo the angels that watch over her would give a break to me  \r\nHoly Mother of saint bubble gum and sister band-aid knees  \r\nWon't you please pray for the ones like me  \r\n  \r\nBut the truth is someday  \r\nSomebody is gonna take her (you see)  \r\nBut the queen of hearts will always be  \r\nA five-year-old princess to me (to me)  \r\n  \r\n[Chorus]  \r\nI got the girl (with all the cards)  \r\nI got the girl (she's a work of art)  \r\nI got the girl (who's gonna break my heart)  \r\n  \r\nI got the girl (she's gonna leave her mark)  \r\nI got the girl (she's a work of art)  \r\nI got the girl (she's gonna break your heart)  \r\n  \r\nI got the girl\r\n\r\n"

In [208]:
df.shape

(5000, 3)

In [209]:
df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

0       you might think you've peeped the scene  \r yo...
1       headin' for the south lands  \r lookin' for so...
2       i believe, that there's something deep inside ...
3       hey you  \r where are you going  \r you're not...
4       trina wears her wampum beads  \r she fills her...
                              ...
4995    i'm afraid, so afraid  \r that you'll go  \r a...
4996    never fell in love  \r until i fell in love wi...
4997    i wanna tell you bout ooh poo pah doo  \r baby...
4998    she can kill with a smile  \r she can wound in...
4999    just an ordinary song  \r to a special girl li...
Name: text, Length: 5000, dtype: object

In [210]:
df.tail(5)

,artist,song,text
4995,Neil Diamond,I'm Afraid,"I'm afraid, so afraid \r\nThat you'll go \r\..."
4996,NOFX,Radio,Never fell in love \r\nUntil I fell in love w...
4997,Tina Turner,Ooh Poo Pah Doo,I wanna tell you bout ooh poo pah doo \r\nBab...
4998,Regine Velasquez,She's Always A Woman To Me,She can kill with a smile \r\nShe can wound i...
4999,David Pomeranz,Ordinary Song,Just an ordinary song \r\nTo a special girl l...

In [211]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [212]:
import nltk
#setting nltk data directory to corrct path:
nltk.data.path.append("D:\nltk_data")

In [214]:
import nltk
from nltk.stem.porter import PorterStemmer

In [215]:
stemmer = PorterStemmer()

In [216]:
def tokenization(txt):
  tokens = nltk.word_tokenize(txt)
  stemming = [stemmer.stem(w) for w in tokens]
  return " ".join(stemming)

In [217]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Chelsa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [218]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [219]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [221]:
tfidvector = TfidfVectorizer(analyzer='word', stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [222]:
similarity[0]

array([1.        , 0.01349433, 0.07595616, ..., 0.05138769, 0.10534845,
       0.00588234])

In [225]:
df[df['song'] == 'Radio']

     artist   song                                               text
4996   NOFX  Radio  never fell in love until i fell in love with y...

In [226]:
def recommendation(song_df):
  idx = df[df['song']==song_df].index[0]
  distances = sorted(list(enumerate(similarity[idx])), reverse=True, key = lambda x:x[1])
  songs = []
  for m_id in distances[1:30]:
    songs.append(df.iloc[m_id[0]].song)
  return songs

In [228]:
recommendation("Radio")

['On The Radio',
 'Poppies',
 "She's Got Nothing On (But The Radio)",
 'Music And Me',
 'I Can Hear Music',
 'Got To Be Time',
 'I Love It Loud',
 "Layin' To The Music",
 'Love Is Green',
 'If You Know What I Mean',
 'Riot',
 'Music Of My Heart',
 'Star',
 'We Got Love',
 'Here',
 'Anyway',
 'Glad I Waited Just For You',
 'Rock And Roll Music',
 'You Got It',
 'You Gotta Be Crazy',
 "A Woman's Gotta Have It",
 'Before My Time',
 "I Can't Hear The Music",
 'Take Me',
 "Don't Mind If I Do",
 'Star Storm',
 'Far From Me',
 'Sure Feels Like Love',
 'Feel For Your Love']

In [229]:
import pickle
pickle.dump(similarity, open("similarity.pkl", "wb"))
pickle.dump(df, open("df.pkl", "wb"))