In [44]:
import pandas as pd

In [45]:
df = pd.read_csv("spotify_millsongdata.csv")

In [46]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [47]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [48]:
df.shape

(57650, 4)

In [49]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [50]:
df =df.drop('link', axis=1).reset_index(drop=True)

In [51]:
df.head(10)

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,Down in the street they're all singing and sho...
7,ABBA,Chiquitita,"Chiquitita, tell me what's wrong \r\nYou're e..."
8,ABBA,Crazy World,I was out with the morning sun \r\nCouldn't s...
9,ABBA,Crying Over You,I'm waitin' for you baby \r\nI'm sitting all ...

In [52]:
df['text'][0]

"Look at her face, it's a wonderful face  \r\nAnd it means something special to me  \r\nLook at the way that she smiles when she sees me  \r\nHow lucky can one fellow be?  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?  \r\n  \r\nAnd when we go for a walk in the park  \r\nAnd she holds me and squeezes my hand  \r\nWe'll go on walking for hours and talking  \r\nAbout all the things that we plan  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?\r\n\r\n"

In [53]:
df = df.sample(5000)

In [54]:
df.shape

(5000, 3)

In [55]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [114]:
df.head(10)

,artist,song,text
11575,Linda Ronstadt,Alison,well it's so funny to be seeing you after so l...
26875,Carpenters,Close To You,why do birds suddenly appear \r every time yo...
21284,Westlife,Don't Let Me Go,so much to say \r but where do i start \r wo...
6186,Fleetwood Mac,Nights In Estoril,well there will be times \r when the memories...
3674,Dave Matthews Band,Lying In The Hands of God,maybe i'll be your solider \r gladly i'll do ...
24953,Bee Gees,All Of My Life,there are times that i should go away \r to t...
15428,Ozzy Osbourne,Time After Time,time after time \r i guess that love is blind...
21151,Waylon Jennings,Don't Waste Your Time,(don't look for me i must go don't waste your ...
21076,Warren Zevon,Trouble Waiting To Happen,"i woke up this morning, and i fell out of bed ..."
34669,Green Day,Carpe Diem,breaking in a sweat \r like a bomb threat \r...

In [56]:
df.tail(5)

,artist,song,text
45104,Nazareth,Ship Of Dreams,here we are \r we sail on a ship made of drea...
44395,The Monkees,Your Auntie Grizelda,"she knows her mind all right, your auntie griz..."
32701,Foo Fighters,Never Talking To You Again (Live),there are things that i'd like to say \r but ...
34036,Glee,Dancing Queen,"you can dance, you can jive \r having the tim..."
55246,Virgin Steele,Hellfire Woman,she'll bleed you dry \r she'll leave you ther...

In [57]:
import nltk
from nltk.stem.porter import PorterStemmer

In [58]:
stemmer = PorterStemmer()

In [59]:
def token(txt):
  token = nltk.word_tokenize(txt)
  a = [stemmer.stem(w) for w in token]
  return " ".join(a)

In [68]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [69]:
df['text'].apply(lambda x: token(x))

11575    well it 's so funni to be see you after so lon...
26875    whi do bird suddenli appear everi time you are...
21284    so much to say but where do i start would you ...
6186     well there will be time when the memori fade t...
3674     mayb i 'll be your solid gladli i 'll do your ...
                               ...
45104    here we are we sail on a ship made of dream an...
44395    she know her mind all right , your aunti grize...
32701    there are thing that i 'd like to say but i 'm...
34036    you can danc , you can jive have the time of y...
55246    she 'll bleed you dri she 'll leav you there t...
Name: text, Length: 5000, dtype: object

In [73]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [75]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [76]:
matrix=tfid.fit_transform(df['text'])

In [109]:
similar=cosine_similarity(matrix)

In [110]:
similar[0]

array([1.        , 0.04639924, 0.06660296, ..., 0.08453387, 0.01392284,
       0.00728366])

In [111]:
if not df[df['song'] == 'Hellfire Woman'].empty:
    index = df[df['song'] == 'Hellfire Woman'].index[0]

else:
    print("No rows with the song name 'Hellfire Woman' found.")

In [125]:
distance = [similar]

In [123]:
def recommender(song_name):
  idx = df[df['song']==song_name].index[0]
  sorted(list(enumerate(similar[idx])), reverse=True, key = lambda x:x[1])
  song = []
  for s_id in distance[1:5]:
    song.append(df.iloc[s_id[0]].song)
  return song

In [126]:
recommender("Lying In The Hands of God")

[]

In [127]:
import pickle

In [128]:
pickle.dump(similar, open("similarity", "wb"))

In [129]:
pickle.dump(df, open("df", "wb"))