In [37]:
import pandas as pd

In [38]:
df = pd.read_csv("spotify_millsongdata.csv")

In [39]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [40]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [41]:
df.shape

(57650, 4)

In [42]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [43]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [44]:
df.head(10)

,artist,song,text
0,Paul Simon,Bright Eyes,"Is it a kind of dream, \r\nFloating out on th..."
1,Electric Light Orchestra,Shine A Little Love,Although the things you've done I wouldn't cri...
2,Rage Against The Machine,Producer,Earth shares what Earth receives \r\nAnd now ...
3,Matt Redman,Make My Life A Prayer To You,Make my life a prayer to You \r\nI want to do...
4,Maroon 5,We'll Be Alright,"We are young, we run free \r\nStay up late, w..."
5,Savage Garden,Carry On Dancing,The moonlight \r\nShines down interstellar be...
6,Lionel Richie,Don't Wanna Lose You,"Times are hard, my spirit's weak, \r\nEv'ryth..."
7,Counting Crows,Rain King,When I think of heaven (Deliver me in a black-...
8,Ray Charles,I'm Going Down The River,"I'm goin down to the river and drown myself, w..."
9,Ace Of Base,Perfect World,They say the time has come for us \r\nTo star...

In [45]:
df['text'][10]

"Cheater, I know where you've been  \r\nCheater, your lies can't hide your sin  \r\nCheater, don't ask me how I've know  \r\nCheater, I guess it's time for you to go  \r\n  \r\nI'm tired of chasing shadows  \r\nSo illusive in the night  \r\nAnd your empty words  \r\nThat leave me high and dry  \r\nNow the curtain's finally fallen  \r\nOn this fantasy affair  \r\nYou've had me for the last time  \r\nWith your lies  \r\n  \r\nCheater, you're a cheater  \r\nI know where you've been  \r\nCheater, your lies can't hide your sin  \r\nCheater, don't ask me how I've know  \r\nCheater, I guess it's time for you to go  \r\n  \r\nThe voices in the wind I heard  \r\nKept telling me to run  \r\nWhispering a warning to my heart  \r\nAnd the voices deep as thunder  \r\nTried to speak of things to come  \r\nI was blinded then  \r\nBut now I see the light  \r\n  \r\nCheater, you're a cheater  \r\nAnd I know where you've been  \r\nCheater, mean mistreater  \r\nYour lies can't hide your sin  \r\nCheater, don't ask me how I've know  \r\nCheater, I guess it's time for you to go  \r\n  \r\nCheater, I know where you've been  \r\nCheater, you're a cheater  \r\nCheater, you're a cheater  \r\nCheater, I know where you've been  \r\nYour lies can't hide your sins  \r\nCheater\r\n\r\n"

In [46]:
df.shape

(5000, 3)

In [47]:
df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

0       is it a kind of dream,  \r floating out on the...
1       although the things you've done i wouldn't cri...
2       earth shares what earth receives  \r and now o...
3       make my life a prayer to you  \r i want to do ...
4       we are young, we run free  \r stay up late, we...
                              ...
4995    if it came to pass that they should ask  \r wh...
4996    one and the same, one and the same  \r i wish ...
4997    this is the thirteenth day of waiting, the sec...
4998    mama, take this badge off of me  \r i can't us...
4999    you've read the books, you've watched the show...
Name: text, Length: 5000, dtype: object

In [48]:
df.tail(5)

,artist,song,text
4995,Elton John,All The Nasties,If it came to pass that they should ask \r\nW...
4996,Everlast,One And The Same,"One and the same, one and the same \r\nI wish..."
4997,Foreigner,Lowdown And Dirty,"This is the thirteenth day of waiting, the sec..."
4998,Religious Music,Knockin' On Heaven's Door,"Mama, take this badge off of me \r\nI can't u..."
4999,The Script,Six Degrees Of Separation,"You've read the books, you've watched the show..."

In [49]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [50]:
import nltk
#setting nltk data directory to corrct path:
nltk.data.path.append("D:\nltk_data")

In [51]:
import nltk
from nltk.stem.porter import PorterStemmer

In [52]:
stemmer = PorterStemmer()

In [53]:
def tokenization(txt):
  tokens = nltk.word_tokenize(txt)
  stemming = [stemmer.stem(w) for w in tokens]
  return " ".join(stemming)

In [54]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Chelsa\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [55]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [56]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
tfidvector = TfidfVectorizer(analyzer='word', stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [58]:
similarity[0]

array([1.        , 0.02383243, 0.00110107, ..., 0.01022768, 0.0053874 ,
       0.01958642])

In [62]:
df[df['song'] == 'Rain King']

,artist,song,text
7,Counting Crows,Rain King,when i think of heaven ( deliv me in a black-w...

In [63]:
def recommendation(song_df):
  idx = df[df['song']==song_df].index[0]
  distances = sorted(list(enumerate(similarity[idx])), reverse=True, key = lambda x:x[1])
  songs = []
  for m_id in distances[1:30]:
    songs.append(df.iloc[m_id[0]].song)
  return songs

In [64]:
recommendation("Rain King")

['You Belong To Me',
 'Get Back',
 'Queen In The Black',
 'Because The Night',
 'Belong To The World',
 'Mama',
 'Starbright',
 'Little Bird',
 'If You Need Me',
 'End Of The Dream',
 'Fly',
 'Because The Night',
 'Come Home To Me',
 'I Belong To You',
 'If You Need Me',
 'The Gift',
 "Love Won't Leave You Now",
 'And Your Bird Can Sing',
 'Mama',
 'If You Belonged To Me',
 'Black Summer Rain',
 'Work It Out',
 'King Of The Kats',
 'JTR (John The Revalator)',
 'From A Jack To A King',
 'Ever Living God',
 'Fly Away',
 'Deliverance',
 "We're Not Deep"]

In [65]:
import pickle
pickle.dump(similarity, open("similarity.pkl", "wb"))
pickle.dump(df, open("df.pkl", "wb"))